{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if value %}
    <div class="text-center text-danger">
        <i class="fa fa-warning warning" aria-hidden="true" title="{{ value }}"></i>
    </div>
    {% endif %}
{% endblock %}
