{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    <div>
        <a data-fancybox="pdf" href="{% path admin.subject.document, 'reference' %}">
            <img src="{% path admin.subject.document, 'admin' %}" alt="thumbnail">
        </a>
    </div>
{% endblock %}
