{% extends 'base.html.twig' %}

{% block title %}LiveGene Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/spa.css') }}" />
{% endblock %}

{% block body %}
<div id="app">
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/spa.js') }}"></script>
{% endblock %}
