{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div style="height: 3em; max-height:3em; width:100%; min-width:100%;">
        <img src="{{ value }}" alt="logo" class="img-responsive" style="height:3em; margin:auto;">
    </div>
{% endblock %}
