{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div class="text-center">
        <img src="{{ value }}" alt="logo" class="admin-logo-list-preview">
    </div>
{% endblock %}
