{% extends '@SonataAdmin/CRUD/list_outer_rows_mosaic.html.twig' %}

{% block sonata_mosaic_background %}
    <img src="{{ object.logoUrl }}" alt="logo" class="img-responsive" style="height: 6em; width: auto; margin: auto;">
{% endblock %}

{% block sonata_mosaic_description %}
    <span title="{{ meta.title }}">{{ meta.title|truncate(40) }}</span>
{% endblock %}
