{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    <div>
        <img
            src="{{ value }}"
            alt="logo"
            class="organisation-logo organisation-logo-show-preview"
            {% if object.logoBackgroundColor %}style="background-color:{{ object.logoBackgroundColor }};"{% endif %}
        >
    </div>
{% endblock %}
