###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/cov/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> PHPStorm ###
.idea
###< PHPStorm ###

###> Nightwach.js ###
assets/spa/tests/e2e/reports
selenium-server.log
###< Nightwatch.js ###

###> VueJS Unit Testing (Cezar) ###
assets/spa/tests/unit/coverage
###< VueJS Unit Testing (Cezar) ###
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
