<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="config/bootstrap.php">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="APP_ENV" value="test"/>
    <env name="APP_DEBUG" value="1"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
    <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/test.db3"/>
    <!-- ###+ nelmio/cors-bundle ### -->
    <env name="CORS_ALLOW_ORIGIN" value="^https?://localhost\(:[0-9]+\)?$"/>
    <!--"^https?://localhost\(:[0-9]+\)?$"/ -->
    <!-- ###- nelmio/cors-bundle ### -->
    <!-- suppress deprecation notices -->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    <!-- ###+ lexik/jwt-authentication-bundle ### -->
    <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem"/>
    <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem"/>
    <env name="JWT_PASSPHRASE" value="c0a073316b0c1735501f5a512c39fa7b"/>
    <!-- ###- lexik/jwt-authentication-bundle ### -->
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
      <arguments>
        <array>
          <!-- set this option to 0 to disable the DebugClassLoader integration -->
          <element key="debug-class-loader">
            <integer>0</integer>
          </element>
        </array>
      </arguments>
    </listener>
    <listener class="Symfony\Bridge\PhpUnit\CoverageListener"/>
  </listeners>
</phpunit>
