{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    <div style="background-color:{{ value }}; height:2em; width:10em; text-align:center;">
        <span style="vertical-align:middle;font-weight:700;">{{ value }}</span>
    </div>
{% endblock %}
