body {
    background-color: lightgray;
}

#dropzone {
  width: 50%;
  min-height: 12em;
  border: 2px dashed blue;
  border-radius: 0.5em;
  background-color: #eee;
}

.hidden-file-input {
  display: none !important;
}

#dropzone.highlight {
  border-color: yellow;
  background-color: red;
}

.divider {
  height: 2px;
  width: 90%;
  background-color: maroon;
}

#publicationsTotal {
  font-size: 1.5em;
}
  #publicationsTotal .badge {
    font-size: 1em;
  }

.warning {
  font-size: 1.5em;
}

.organisation-logo {
  border: thin solid grey;
  object-fit: contain;
}

.organisation-logo-list-preview {
  padding: 2px;
  height: 3em;
  width: 3em;
}

.organisation-logo-mosaic-preview {
  display: block;
  border-radius: 4px !important;
  padding: 5px;
  margin: auto;
  height: 6em !important;
  width: 6em !important;
}

.organisation-logo-show-preview {
  padding: 5px;
  height: 256px;
  width: 256px;
}
