{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    <ul class="list-group">
        {% for item in value %}
            <li class="list-group-item">
                <a href="{{ item }}">{{ item }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
