<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="ILRI Livestock Genetics">
        <meta name="keywords" content="ILRI, livestock, genetics, animal husbandry, tropical livestock">
        <meta name="author" content="Cezar Pendarovski <cezar.pendarovski@roslin.ed.ac.uk>, David Mogaka Mirieri <d.mogaka@cgiar.org>">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
