<div class="well">
    <div class="page-header">
        <h1>ILRI <strong>Live</strong>stock <strong>Gene</strong>tics <small>LiveGene Admin</small></h1>
    </div>
    <div class="text-justify">
        Welcome to the LiveGene Admin. Here you have the possibility to manage the ILRI projects and their associated data.
        There is a section dedicated to the sampling activities and their management, including the sampling documentations.
    </div>
</div>
