<div class="well">
    <div class="page-header">
        <h1>ILRI <strong>Live</strong>stock <strong>Gene</strong>tics <small>LiveGene Admin</small></h1>
    </div>
    <div class="text-justify">
        Welcome to the LiveGene Admin. Here you have the possibility to manage the ILRI projects and their associated data.
        There is a section dedicated to the sampling activities and their management, including the sampling documentations.
    </div>
    <hr>
    <div class="text-justify">
        For further information and help on using the LiveGene application, please consult the wiki page <a href="https://github.com/ilri/livegene/wiki" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>.
    </div>
    <hr>
    <div class="text-justify">
        If you want to report a bug or make a feature request, raise an issue at the GitHub page <a href="https://github.com/ilri/livegene/issues" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-warning-sign"></span></a>.
    </div>
    <hr>
    <div class="text-justify">
        See the <a href="{{ path('admin_publication_list') }}">list of publications</a> from Mendeley Reference Manager.
    </div>
</div>
