{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block content %}
    <h1 class="text-center">Mendeley Publications</h1>

    <div class="container">
        <p>TITLE: {{ publication.title }}</p>
        <p>ID: {{ publication.id }}</p>
    </div>

    <a href="{{ path('admin_publication_list') }}" class="btn btn-primary">LIST</a>
{% endblock %}

